<p>
  <strong>User:</strong>
  <%= @report.user.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @report.created_at %>
</p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @report.body %>
</p>

<%= render 'comments/index', commentable: @report %>
<%= render 'comments/form', commentable: @report %>

<% if @report.user == current_user %>
  <%= link_to 'Edit', edit_report_path(@report) %> |
<% end %>
<%= link_to 'Back', reports_path %>
